[submodule "vendor/libpng"]
	path = vendor/libpng
	url = git@github.com:glennrp/libpng.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = git@github.com:madler/zlib.git
[submodule "vendor/libjpeg"]
	path = vendor/libjpeg
	url = git@github.com:henne90gen/libjpeg.git
[submodule "vendor/gif-h"]
	path = vendor/gif-h
	url = git@github.com:ginsweater/gif-h.git
