[submodule "glfw"]
	path = glfw
	url = git@github.com:glfw/glfw.git
[submodule "imgui"]
	path = imgui
	url = git@github.com:ocornut/imgui.git
[submodule "glm"]
	path = glm
	url = git@github.com:g-truc/glm.git
